/* font */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* root */

:root {
  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-bright-blue-hover: hsl(245, 83%, 68%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --color-desaturated-blue-hover: hsl(224, 23%, 30%);
  --color-dark-blue: hsl(223, 47%, 23%);
}

/* main styles */
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-color: var(--color-pale-blue);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 25rem;
  background-color: #fff;
  border-radius: 1rem;
}

.hero {
  width: 100%;
}

.hero img {
  border-radius: 1rem 1rem 0 0;
}

.text-area {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-title {
  margin: 1rem 0;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--color-dark-blue);
}

.card-text {
  color: var(--color-desaturated-blue);
  margin-bottom: 1rem;
  width: 95%;
}

.price {
  background-color: var(--color-very-pale-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 1.7rem;
  transition: ease 0.5s;
}

.price:hover {
  box-shadow: 0px 0px 3.5px rgba(0, 0, 0, 0.04), 0px 0px 11.6px rgba(0, 0, 0, 0.06),
    0px 0px 52px rgba(0, 0, 0, 0.1);
}

.price-text span {
  font-weight: 900;
  font-size: 1rem;
  color: var(--color-dark-blue);
}

.price-text {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  color: var(--color-desaturated-blue);
}

.price-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-bright-blue);
  transition: ease 0.5s;
}

.price-link:hover {
  color: var(--color-bright-blue-hover);
}

.proceed-button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-bright-blue);
  color: #fff;
  font-weight: 700;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: ease 0.5s;
}

.proceed-button:hover {
  background-color: var(--color-bright-blue-hover);
}

.cancel-button {
  background-color: #fff;
  color: var(--color-desaturated-blue);
  border: none;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: ease 0.5s;
}

.cancel-button:hover {
  color: var(--color-desaturated-blue-hover);
}

/* media query */
@media only screen and (max-width: 375px) {
  .price {
    justify-content: unset;
  }

  .price-text {
    width: 50%;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-image: url(images/pattern-background-mobile.svg);
  }

  .card {
    width: 90%;
    margin: auto;
  }

  .text-area {
    padding: 1rem 1.5rem;
  }

  .price {
    padding: 1rem;
  }
}
